@echo off
SET ROCKETCHAT_URL=
SET ROCKETCHAT_ROOM=general
SET ROCKETCHAT_USESSL=true
SET ROCKETCHAT_USER=
SET ROCKETCHAT_PASSWORD=
SET RESPOND_TO_DM=true
SET RESPOND_TO_LIVECHAT=true
APP_SECRET=
WSS_URL=
call ./bin/hubot