@echo off
SET ROCKETCHAT_URL=
SET ROCKETCHAT_ROOM=general
SET ROCKETCHAT_USESSL=true
SET ROCKETCHAT_USER=
SET ROCKETCHAT_PASSWORD=
SET RESPOND_TO_DM=true
SET RESPOND_TO_LIVECHAT=true
SET IMGUR_USER=
SET IMGUR_PASS=
SET IMGUR_CLIENT_ID=
SET GFYCAT_CLIENT_ID=
SET GFYCAT_CLIENT_SECRET=
SET REDDIT_USER_AGENT=
SET REDDIT_CLIENT_ID=
SET REDDIT_CLIENT_SECRET=
SET REDDIT_USER=
SET REDDIT_PASS=
SET MONGO_URL=
call ./bin/hubot